<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Employee</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
        <script>
            function submitForm(action){
                var main_form = document.getElementById("main-form");
                main_form.action = action;
                main_form.submit();
            }
        </script>
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">New Employee</h2>
            <div class="row">
                <div class="col-md">
                    <form action="#" th:action="@{/saveemployees}" th:object="${form}" method="post" id="main-form">
                        <div class="row" th:each="employee, itemStat : *{employees}">
                            <div class="form-group col">
                                <label th:for="id__${itemStat.index}__" class="col-form-label">National Id</label>
                                <input type="number" th:id="id__${itemStat.index}__" th:field="*{employees[__${itemStat.index}__].id}" class="form-control" placeholder="natid">
                                <span th:if="${#fields.hasErrors('employees[__${itemStat.index}__].id')}" th:errors="*{employees[__${itemStat.index}__].id}" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md">
                                <label th:for="name__${itemStat.index}__" class="col-form-label">Name</label>
                                <input type="text" th:id="name__${itemStat.index}__" th:field="*{employees[__${itemStat.index}__].name}" class="form-control" placeholder="Name">
                                <span th:if="${#fields.hasErrors('*{employees[__${itemStat.index}__].name}')}" th:errors="*{employees[__${itemStat.index}__].name}" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md">
                                <label th:for="gender__${itemStat.index}__" class="col-form-label">Gender</label>
                                <select name="gender" th:id="gender__${itemStat.index}__" th:field="*{employees[__${itemStat.index}__].gender}" class="form-control">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <span th:if="${#fields.hasErrors('*{employees[__${itemStat.index}__].gender}')}" th:errors="*{employees[__${itemStat.index}__].gender}" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md">
                                <label th:for="birthday__${itemStat.index}__" class="col-form-label">Birthday</label>
                                <input type="date" th:id="birthday__${itemStat.index}__" th:field="*{employees[__${itemStat.index}__].birthday}" class="form-control" placeholder="birthday">
                                <span th:if="${#fields.hasErrors('*{employees[__${itemStat.index}__].birthday}')}" th:errors="*{employees[__${itemStat.index}__].birthday}" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md">
                                <label th:for="salary__${itemStat.index}__" class="col-form-label">Salary</label>
                                <input type="number" th:id="salary__${itemStat.index}__" th:field="*{employees[__${itemStat.index}__].salary}" class="form-control" placeholder="salary">
                                <span th:if="${#fields.hasErrors('*{employees[__${itemStat.index}__].salary}')}" th:errors="*{employees[__${itemStat.index}__].salary}" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md">
                                <label th:for="taxPaid__${itemStat.index}__" class="col-form-label">Tax Paid</label>
                                <input type="number" th:id="taxPaid__${itemStat.index}__" th:field="*{employees[__${itemStat.index}__].taxPaid}" class="form-control" placeholder="taxPaid">
                                <span th:if="${#fields.hasErrors('*{employees[__${itemStat.index}__].taxPaid}')}" th:errors="*{employees[__${itemStat.index}__].taxPaid}" class="text-danger"></span>
                            </div>

                            <span th:text="${status}" class="text-success"></span>


                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <button class="btn btn-primary" onclick="submitForm('/addemployee')">Add another employee</button>
                            </div>
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>

    <head>
        <title>Uploading file</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <h1>Uploading file</h1>

    <form action="/uploadFile" method="post" enctype="multipart/form-data">
        <label>Enter file</label>
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>
    </body>

</html>